:root {
  --color-primary: #dbe2ef;
  --color-secondary: #112d4e;
  --color-background: #fefeff;
  --text-primary: #0d0c0c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  color: var(--text-primary);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}
