.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-weight: 500;
  transition: all 0.1s;
  position: relative;
  color: var(--color-secondary);
  &:hover {
    cursor: pointer;
  }
}

.active {
  border-bottom: 0.3rem solid var(--color-secondary);
}
