.main {
  justify-content: center;
  align-items: center;
  &.flat {
    flex-direction: row;
  }
}

.image {
  object-fit: contain;
  max-width: 100%;
}

.hidden {
  display: none;
}
.container {
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid var(--color-primary);
  width: 100%;
  padding: 1.2rem 0.6rem;
}

.detail {
  &.flat {
    flex: 90;
    flex-direction: row;
  }
}

.icon {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: flex-end;
  &.flat {
    flex: 10;
  }
}
